.dash-container {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;

  &.bottom {
    height: 45%;
    flex-direction: row;
  }
}

.dash-pendentes {
  width: 60%;
  height: 100%;
}

.dash-pie {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 100%;
}

h1 {
  font-size: 20px;
  font-weight: bold;
}