:global(.mainContent) {
    padding: 10px !important;
}

.petContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-around;

    .petHeader {
        background: var(--secondaryColor);
        width: 100%;
        height: 10%;
        border-radius: 20px 20px 0 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        input {
            height: 60%;
            width: 85%;
            padding-left: 40px;
            border-radius: 20px;
            border: none;
            background-image: url('/searchIcon.svg');
            background-repeat: no-repeat;
            background-position: 14px center;
            background-size: 22px 22px;
            padding-left: 45px;
        }

        button {
            height: 60%;
            font-size: 16px;
            padding-left: 15px;
            padding-right: 15px;
            border-radius: 20px;
            border: none;
            background: #fff;
        }


        button:hover {
            cursor: pointer;
            background: var(--primaryColor);
            transition: ease-in-out 0.3s;
        }
    }

    .pets {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
        padding-top: 10px;
        height: 80%;
        /* overflow-y: auto; */
        justify-items: center;
    }
}

.petInfos {
    display: flex;
    flex-direction: column;
    padding: 0px 40px 80px 40px;
    gap: 7px;

    .dropDownQuestions {
        display: flex;
        flex-direction: row;
        gap: 7px;

        .petAge {
            display: flex;
            flex-direction: row;
        }
    }

    #descricao {
        min-height: 130px;
        max-height: 130px;
    }

    .petInfosTags {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 7px;
        margin-top: -30px;


        span {
            margin-top: 15px;
            text-align: left;
            font-size: 16px;
        }

    }

    .desc {
        display: flex;
        flex-direction: column;

        span {
            text-align: left;
            font-size: 18px;
            margin-left: 10px;
        }

        textarea {
            min-height: 100px;
            max-height: 100px;
            max-width: 530px;
            min-width: 530px;
            border-radius: 10px;
            padding: 10px;
            background: var(--backgroundColor);
            border: #000 2px solid;
            font-size: 16px;
        }
    }
}

.division {
    background: #000;
    height: 2px;
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.petInfosCheckbox {
    margin-top: 10px;
    gap: 7px;
    margin-bottom: -24px;

    .title {
        font-size: 18px;
    }

    .checkbox {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;

        input[type="radio"] {
            accent-color: var(--primaryColor);
            /* muda a cor da bolinha */
            cursor: pointer;
        }

        input[type="radio"]:checked {
            color: var(--primaryColor);
        }
    }
}

.petInfosVac {
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
        margin-right: 15px;
        margin-left: 5px;
        font-weight: 600;
    }
}

.imgAdd {
    span {
        font-size: 16px;
    }
}

.imagePreviewWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.previewBox {
    width: 92px;
    height: 100px;
    border: 2px solid #000;
    border-radius: 10px;
    background: #f7f7f7;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.previewBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.removeBtn {
    position: absolute;
    top: 4px;
    right: 4px;
    background: #ff4d4d;
    border: none;
    border-radius: 50%;
    color: white;
    width: 18px;
    height: 18px;
    font-size: 12px;
    cursor: pointer;
    z-index: 1;
}


.uploadBtn {
    width: 42px;
    height: 50px;
    border: 2px dashed #000;
    border-radius: 10px;
    font-size: 24px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.bottomOpt {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    margin-top: -10px;

    .button1 {
        background: var(--secondaryColor);
        border: none;
        height: 15px;
        width: 15px;
        border-radius: 100%;
    }

    .button2 {
        background: var(--backgroundColor);
        border: black 2px solid;
        height: 15px;
        width: 15px;
        border-radius: 100%;
    }

    .button:hover {
        cursor: pointer;
    }
}

.next {
    display: flex;
    flex-direction: row;
    margin-left: 410px;
    gap: 210px;
    margin-top: -20px;

    button {
        width: 160px;
    }

    .back {
        margin-top: 15px;
    }
}

.next2 {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    gap: 210px;
    margin-top: -20px;
    justify-content: flex-end;
    padding-right: 45px;


    button {
        width: 160px;
    }

    .back {
        margin-top: 15px;
    }
}

.petTags {
    display: flex;
    gap: 10px;
    max-height: 8rem;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.step2 {
    .petInfos {
        align-items: center;
    }
}

.containerTag {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer !important;
}

.paginationWrapper {
    padding: 0px;
    border-radius: 12px;
    height: 10%;
}