.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.area {
    width: 80%;
    height: 90%;
    background: aliceblue;
    border-radius: 25px;
}

.imagePreview{
    width: 200px;
}